/* Colors */

  /* background colours */
  $theme-dark: #181818;
  $theme: #202020;
  $theme-light: #333;
  $bg-default: #fafafa;

  /* font colours */
  $color-text: #111;
  $color-text-light: #333;

/* Font sizes */

  $xlarge: 40px;
  $large: 32px;
  $medium: 28px;
  $lead: 22px;
  $body: 16px;
  $small: 14px;

/* Font families */

  $lato: Lato, sans-serif;
  $sans: 'Source Sans Pro', sans-serif;
  $serif: 'Source Serif Pro', serif;

/* Widths */
$width-medium: 512px;

/* define default font */
body {font: 300 18px 'Source Sans Pro', sans-serif;}

/* off-black for text */
body, select, input, textarea {color: $color-text;}

li a, p a, h2 a, h3 a, table a {color: #fff; &:hover {border-bottom: 1px solid $theme-light;}}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #888; color: #fff; text-shadow: none;}
::selection {background: #888; color: #fff; text-shadow: none;} 

/*  j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #ccc;} 

ins {background-color: #ccc; color: #222; text-decoration: none;}
mark {background-color: #ccc; color: #222; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}

/* Main styles
-------------------------------------------------------------------------------*/
html, body {
  background: $bg-default;
  height: 100%;
}
header {
  padding: 64px 0;
  min-height: 100%;
  background: $theme;
  color: #fff;
  h1 {
    border-top: 1px solid $theme-light;
    border-bottom: 1px solid $theme-light;
    background: $theme-dark;
    padding: 12px 0;
    margin-bottom: 40px;
    font-family: Lato, sans-serif;
    font-size: $xlarge;
    font-weight: 300;
  }
  h2 {
    font-family: $serif;
    margin-bottom: 32px;
    font-size: $xlarge;
    font-weight: 400;
  }
  h3 {
    margin-bottom: 32px;
    font-size: $medium;
    font-weight: 300;
  }
  h3:last-of-type {
    margin-bottom: 48px;
  }
}
main {
  padding: 64px 0;
  h1 {
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    font-family: $lato;
    font-size: $lead;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
    article {
      margin: 48px 0;
      time {
        display: block;
        float: right;
        margin-top: 16px;
        color: $color-text-light;
        font-family: $sans;
        font-size: $body;
        font-weight: 400;
        letter-spacing: 1px;
        // text-transform: uppercase;
      }
      h2 {
        font-family: $sans;
        font-size: $medium;
        font-weight: 400;
        color: $color-text-light;
      }
      img {
        width: 100%;
        border: 1px solid #ccc;
        margin: 8px 0;
      }
    }
}

/* Custom classes
-------------------------------------------------------------------------------*/
div.center {
  max-width: 864px;
  padding: 0 32px;
  margin: 0 auto;
}
a.round-link {
  display: inline-block;
  white-space: nowrap;
  padding: 16px 32px;
  border: 1px solid $theme-light;
  border-radius: 64px;
  margin-bottom: 8px;
  margin-right: 8px;
  font-size: $small;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: $theme-dark;
  transition: background 0.1s;

  &:hover {
    background: #121212;
  }
}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
header {
  h2 {
    font-size: $medium;
  }
  h3 {
    font-size: $body;
  }
}
}
@media screen and (max-width: 1024px) {
}